body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange-color {
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 130px;
}
.half-width{
    width: 50%;
    padding-left:.55%;
}
.half-width img{
    width: 80%;
}
.link-button {
    text-decoration: none;
      background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.padding{
    padding: 5%;
}
.experiec-item{
    box-shadow: 10px 10px 30px gray;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 5%;
}

